    /* iframe */
 
.dropdown {
    min-width: 140px;
    height: 24px;
    border: 1px solid #e7e7e5;
    font-size: 13px;
}

main .container .iframe .listSearch .searchTable .tableSection .td .input02 {
    width: 150px;
}

main .container .iframe .listCurrent {
    clear: both;
}

    main .container .iframe .listCurrent .currentTitleWrap {
        display: flex;
        justify-content: space-between;
    }

        main .container .iframe .listCurrent .currentTitleWrap .currentTitle {
            display: flex;
            align-items: center;
            margin: 10px 0;
            font-size: 15px;
            font-weight: bolder;
        }

        main .container .iframe .listCurrent .currentTitleWrap .currentBtn {
            display: flex;
            align-items: center;
            gap: 5px;
        }

            main .container .iframe .listCurrent .currentTitleWrap .currentBtn button {
                width: 92px;
                padding: 4px 8px;
                font-size: 12px;
                font-family: "Tahoma", sans-serif;
                border: 1px solid #999;
            }

    main .container .iframe .listCurrent .listTable {
        overflow: auto;
        margin-bottom: 50px;
    }

        main .container .iframe .listCurrent .listTable p {
            background-color: #aaa9a0;
            width: 100%;
            border: 1px solid #999;
            color: #fff;
            font-size: 13px;
            font-family: '맑은 고딕';
            padding: 7px 4px 10px 6px;
            border: 1px solid #575c62;
        }


        main .container .iframe .listCurrent .listTable .currentTable {
            width: 2000px;
            height: 300px;
        }

/* media query
  pc : 1200px ~
  tablet : 611px ~ 1200px
  mobile : ~ 610px
*/
@media screen and (max-width: 1200px) {
    main .container .iframe .listTitle .listTitleContent .listGnb {
        justify-content: flex-start;
    }
}


@media screen and (max-width: 610px) {
        main .container .iframe .listTitle .listTitleContent {
            display: block;
            padding-bottom: 1px;
        }
}
