@charset 'utf-8';

.iframeTitle{
  width: 100%;
}
.iframeTitle p{
  font-weight: bolder;
  font-size: 15px;
}
.iframe section{
  padding-top: 40px;
}

section{
  content:'';
  display: block;
  clear: both;
}
.sec1 {
  float: right;
  margin-right: 15px;
}

 .sec2Content{
  width: 100%;
}
    .sec2Content .tableFrame .tableSection .tdTextarea{
      height: 100px;
    }
    .sec2Content .tableFrame .devSent .th{
      height: 103px;
    }




@media screen and (max-width: 610px) {
  .sec2Content .tableFrame .devSent{
    height: 105px;
  }


}