@charset 'utf-8';

.iframeTitle{
  width: 100%;
}
.iframeTitle p{
  font-weight: bolder;
  font-size: 15px;
}
.iframe section{
  padding-top: 40px;
}
.sec1Content{
  width: 100%;
}

.sec2Content{
  height: 350px;
  overflow-x: scroll;
}
.sec2Content p{
  width: 1500px;
}

.sec3Content .tableFrame .tableSection{
  height: 38px;
}
.sec3Content .tableFrame .tableSection .th{
  width: 270px;
  padding: 10px;
}
.sec3Content .tableFrame .tableSection .tableHead{
  width: 403px;
}
.sec3Content .tableFrame .tableSection .td{
  width: 400px;
  height: 38px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}
.sec3Content .tableFrame .tableSection .td input:first-child{
  width: 140px;
}



@media screen and (max-width: 610px) {
  .sec3Content .tableFrame .tableSection{
    height: 82px;
  }
  .sec3Content .tableFrame .tableSection .th{
    width: 150px;
    padding: 40px 8px;
  }
  .sec3Content .tableFrame .tableSection .td{
    height: 82px;
  }
  .sec3Content .tableFrame .tableSection .tableHead{
    width: calc(100% - 145px);
  }
}