@charset 'utf-8';
@import url('./leftmenu.css');
@import url('./topmenu.css');
@import url('./common.css');


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #575c62;
    font-size: 14px;
    font-family: '맑은 고딕','Malgun Gothic',Sans-serif;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #575c62;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.hidden {
    opacity: 0;
    margin-left: -9999px;
}
