.tableFrame {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.tableFrame::after{
  content:'';
  display: block;
  clear: both;
}
.tableFrame .tableSection {
  display: flex;
  align-items: center;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  flex: 1 1 calc(100%/3);
}
.tableFrame .tableSection .th {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #e7e7e5;
  font-size: 13px;
  font-family: '맑은 고딕';
  position: relative;
  top:0;
  min-width: 150px;
  height: 100%;
  text-align: center;
}
.tableFrame .tableSection .td{
  padding-left: 3px;
  padding-right: 3px;
  font-size: 13px;
}
.tableFrame .tableSection .td input {
  border: 1px solid #e7e7e5;
  min-width: 140px;
  height: 24px;
  margin-right: 3px;
}
.tableFrame .tableSection .td input::placeholder{
  padding-left: 5px;
}

.tableFrame .tableSection .tdTextarea{
  width: 100%;
}
.tableFrame .tableSection .td textarea{
  width: 100%;
  margin: 3px;
  border: 1px solid #e7e7e5;
  resize: none;
}
.tableFrame .tableSection .td img{
  vertical-align: middle;
  margin-top: -2px;
  height: 24px;
}


@media screen and (max-width: 1200px) {
  .tableFrame .tableSection {
      flex: 1 1 calc(100%/2);
  }
}


@media screen and (max-width: 610px) {
  .tableFrame .tableSection {
      flex: 1 1 100%;
  }
}
